header {
  max-width: 75ch;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-color-header);

  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1000;

  backdrop-filter: blur(1px);
}

@media screen and (max-width: 600px) {
  .overlay {
    padding: 2rem 1rem;
  }
}

.overlay {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: var(--background-color);
  opacity: 0.95;
  padding: 2rem;
}
