button {
  background-color: transparent;
  display: flex;
  align-items: center;
  border: none;
  cursor: pointer;
  outline: none;
}

.rotate-animation {
  transition: transform 0.8s ease;
}

.rotate {
  transform: rotate(360deg);
}

svg {
  stroke: var(--text-color);
  width: 1.9em;
  height: 1.9em;
}
