button {
  display: flex;
  align-items: center;
  width: 1.5em;
  height: 1.5em;
  border: none;
  background-color: transparent;
  font-size: 1.8rem;
  cursor: pointer;
  outline: none;
}

svg {
  stroke: var(--primary-color);
  width: 1.5em;
  height: 1.5em;
  transition: stroke 0.3s ease;
}

/* svg:hover {
  stroke: var(--secondary-color);
} */

.rotate-animation {
  transition: transform 1.1s ease;
}

.rotate {
  transform: rotate(360deg);
}
