:root {
  --primary-color: hsl(45, 52%, 53%);
  --secondary-color: hsl(43, 79%, 68%);
  --background-color: hsl(210, 23%, 16%);
  --text-color: hsl(203, 18%, 75%);
  --secondary-text-color: hsl(210, 20%, 90%);
  --border-color: hsl(217, 11%, 42%);
  --button-color: hsl(210, 20%, 90%);
  --transparent-color: rgba(0, 0, 0, 0);
}
