:root {
  --primary-color: hsl(172, 48%, 26%);
  --secondary-color: hsl(174, 45%, 39%);
  --background-color: hsl(240, 33%, 97%);
  --text-color: hsl(217, 11%, 42%);
  --secondary-text-color: hsl(210, 23%, 16%);
  --border-color: hsl(219, 16%, 83%);
  --button-color: hsl(210, 20%, 90%);
  --transparent-color: rgba(0, 0, 0, 0);
}
