:root {
  --primary-color: #0a5bb8;
  --secondary-color: #474645;
  --background-color: #fdfdfd;
  --text-color: #31302e;
  --text-color-light: #292524;
  --border-bottom: rgb(231 229 228 / 1);
  --button-color: #efefef;
  --transparent: rgba(0, 0, 0, 0);
}
