:root {
  --primary-color: #0a5bb8;
  --secondary-color: #474645;
  --background-color: #fdfdfd;
  --text-color: #31302e;
  --text-color-light: #292524;
  --border-bottom: rgb(231 229 228 / 1);
  --navbar-background: rgba(253, 253, 253, 0.95);
  --button-color: #efefef;
}
